name: 'Static Code Analysis'
on: ['push']

jobs:
  static-code-analysis-lint:
    runs-on: 'ubuntu-latest'
    name: 'Static Code Analysis - Lint'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'actions/setup-node@v6'
        with:
          node-version: 20
          cache: 'npm'
      - run: 'npm ci'
      - run: 'npm run lint'

  static-code-analysis-tsc:
    runs-on: 'ubuntu-latest'
    name: 'Static Code Analysis - Typescript'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'actions/setup-node@v6'
        with:
          node-version: 20
          cache: 'npm'
      - run: 'npm ci'
      - run: 'npm run tsc'
